.myRows{
    margin-top: 50px;
}
.view-more{
    color: #9f00c5;
    text-decoration: none;
}
.view-more:hover{
    color: #bd7ace;
}
.myclass{
    margin-left: 80px;
}
@media only screen and (max-width: 600px) {
    .myclass{
        margin-left: 0px;
    }
}